[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
isort = "*"
black = "*"
jupyter-black = "*"
pre-commit = "*"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
jupyter = "*"
astropy = "*"
opencv-python = '*'
torch = "*"
torchvision = "*"
torchinfo = "*"
scipy = "*"
wandb = '*'
albumentations = '*'

[requires]
python_version = "3.10"
